---
import Layout from "../layouts/Layout.astro";
import Topic from "../components/Topic.astro";

const topics = ["PHP", "Python", "Rust", "TypeScript"];
---

<Layout title="Topic Voting - Brenelz Online Meetup">
  <main>
    <h1>Brenelz Online Meetup</h1>
    <h2>Topic Voting</h2>
    <p class="instructions">
      Click on a topic to vote below. You must <a href="#">sign in</a> to vote.
    </p>
    <ul role="list" class="topic-grid">
      {topics.map((topic) => <Topic title={topic} />)}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  .topic-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;
  }
</style>
